<h2 style="text-align: center">Add Details To Apply For Loan</h2>

<form #UserAccountDetailsForm="ngForm" (ngSubmit)="useraccdetails(UserAccountDetailsForm)" class="form">
    <h5>Bank Account Details</h5><br>
    <div class="form-group">
        <label>Account Number</label>
        <input type="text" class="form-control" name="accNo" ngModel required>
    </div>
    <div class="form-group">
        <label>Bank Name</label>
        <input type="text" class="form-control" name="bankName" ngModel required>
    </div>
    <div class="form-group">
        <label>IFSC Code</label>
        <input type="text" class="form-control" name="accIFSC" ngModel required>
    </div>
    <div class="form-group">
        <label>Account Type</label>
        <input type="text" class="form-control" name="accType" ngModel required>
    </div>
    <div class="form-group">
        <label>Employement Type</label>
        <input type="text" class="form-control" name="userEmpType" ngModel required>
    </div>
    <div class="form-group">
        <label>Salary Per Month</label>
        <input type="text" class="form-control" name="monthlySalary" ngModel required>
    </div>
    <div class="form-group">
        <label>Do You Have Any Exsiting EMI?(True or False)</label>
        <input type="text" class="form-control" name="existingEMI" ngModel required>
    </div>
    <button type="submit" [disabled]="!UserAccountDetailsForm.valid">submit</button>
    <div>
        <p>Submit the form to apply for loan</p>
        <button (click)="gotoCheckEligibility()" type="submit" [disabled]="!UserAccountDetailsForm.valid">Apply For Loan</button>
     </div>
</form>